# Build Your First Machine Learning Model!

Welome to the **Machine Learning** programming assignment of the **Artificial Intelligence** course.

In this assignment, a Jupyter Notebook is prepared for examining almost all critical factors in designing a Machine Leaning model for a supervised learning task.

You will complete this notebook to build a ML model, and apply it to a binary classification problem. Additionally you will get familiar with varoius factors which may enhance the performance of a ML model.

In this notebook, we will take advantage of four principal python libraries for data science and machine learning tasks.

 - [Numpy](https://numpy.org): The fundamental package for **scientific computing** with Python.
 - [Pandas](https://pandas.pydata.org): An open source **data analysis and manipulation tool**, built on top of the Python programming language.
 - [Matplotlib](https://matplotlib.org) : A comprehensive library for **creating static, animated, and interactive visualizations** in Python.
 - [Scikit-Learn](https://scikit-learn.org): Simple and efficient tools for predictive data analysis and building Machine Learning models.
 
**After this assignment you will be able to:**
1. Run Exploratory Data Analysis (EDA) and know how to prepare data for a predictive model.
2. Build and apply a Machine Learning model for a supervised learning problem using known frameworks.
 
 
 **Before you start:** Please read the ***Submission*** section at the bottom of the notebook carefully.
 
 Let's get started!


# 0. User UI Preference - Introduction

<p align="center">
  <img src="images/UI.png" width=1000>
</p>

The **User Interface (UI)** is the graphical layout of an application. It consists of the buttons users click on, the text they read, the images, sliders, text entry fields, and all the rest of the items the user interacts with. This includes screen layout, transitions, interface animations and every single micro-interaction. Any sort of visual element, interaction, or animation must all be designed.

An ecommerce company has changed the UI of it's website recently but they do not know how it is possible to evaluate their new UI. Do customers like it? Do they prefer the new UI or the old one?

They have also collected feedbacks from their customers based on some pre-organized surveys. You as Machine Learning engineers are aksed to **build a Machine Learning Model so to identify the User UI preference on the basis of their UI engagement information.**

## Data

There are two files that you need to consider. *(i)* `train.csv` for training, and *(ii)* `test.csv` for testing purposes. They consist 14 columns with the following description:


| Column name | Description |
| ------------- | ------------- |
| **CustomerID** | Represents a unique identification of a user |
| **Age** | Represents the age of the user |
| **City** | Represents the city in which the user lives |
| **State** | Represents the state in which the user lives |
| **No_of_orders_placed** | Represents the total number of orders placed by a customer |
| **Last order placed_date** | Represents the last date when the customer placed the order |
| **is premium_member** | Represents whether a customer is a premium member or not. ( 0 or 1) |
| **Women's Clothing** | Represents user's engagement score in Women's_Clothing section ( 0 to 10 ) |
| **Men's Clothing** | Represents user's engagement score in Men's Clothing section( 0 to 10 ) |
| **Kid's Clothing** | Represents user's engagement score in Kid's Clothing section ( 0 to 10 ) |
| **Home &_Living** | Represents user's engagement score in Home_&_Living section ( 0 to 10 ) |
| **Beauty** | Represents user's engagement score in Beauty products section ( 0 to 10 ) |
| **Electronics** | Represents user's engagement score in Electronics products section( 0 to 10 ) |
| **Preferred_Theme** | Represents the preferred theme ( Old_UI or New_UI) |

## Packages
Let's first import all the packages that you will need during this assignment.

In [149]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# 1. Data preprocessing


What's Data preprocessing? **Data preprocessing** is an integral step in Machine Learning as the quality of data and the useful information that can be derived from it directly affects the ability of our model to learn; therefore, it is extremely important that we preprocess our data before feeding it into our model.

Some of the main preprocessing steps are:

  - **Handling missing values**: impute missing (NaN) values
  - **Standardization**: normalize our data for a more quick convergence of the model
  - **Handling Categorical Variables**: one-hot encoding is an appropirate solution
  - ...
  
In this assignment, you will apply some of these methods step by step.

In [150]:
# load the dataset into a dataframe
train_df = pd.read_csv('train.csv', index_col=0)
test_df = pd.read_csv('test.csv', index_col=0)

print(f'Number of training samples: {len(train_df)}')
print(f'Number of test samples: {len(test_df)}')
train_df.head(10)

Number of training samples: 10605
Number of test samples: 4545

,CustomerID,Age,Gender,City,State,No_of_orders_placed,Sign_up_date,Last_order_placed_date,is_premium_member,Women’s_Clothing,Men’s_Clothing,Kid’s_Clothing,Home_&_Living,Beauty,Electronics,Preferred_Theme
0,CusID_00685,19.0,Not_Specified,Bercelona,Singapore,14.0,2017-01-17,2020-09-19,1,3.445937,2.620136,5.457500,6.141905,8.106490,4.389933,Old_UI
1,CusID_06121,31.0,Male,Sydney,New South Wales,10.0,2016-01-22,2021-12-09,0,1.320304,9.025863,6.378695,2.825636,0.977430,7.789076,New_UI
2,CusID_09847,NaN,Not_Specified,Toronto,Ontario,12.0,2019-08-07,2021-10-13,1,3.793410,0.726490,3.957772,3.000000,2.589856,7.426173,Old_UI
3,CusID_01433,29.0,Not_Specified,Toronto,Ontario,15.0,2016-02-27,2020-10-22,1,2.362948,2.701855,3.522246,3.121818,2.259882,5.970419,Old_UI
4,CusID_02167,38.0,Female,?,British Columbia,3.0,2019-07-04,2020-03-17,0,7.568971,2.161103,7.535511,0.865851,4.638520,9.061972,Old_UI
5,CusID_02674,30.0,Female,Kolkata,West Bengal,10.0,2017-07-29,2021-02-21,0,8.790859,4.219936,3.000000,6.395232,9.539830,1.066810,Old_UI
6,CusID_05594,27.0,Female,Kuala Lampur,Singapore,7.0,2017-09-29,2020-07-24,0,7.496507,6.065087,6.757594,8.390672,2.000000,3.440012,New_UI
7,CusID_09297,27.0,Female,Munich,Catalonia,7.0,2018-04-18,2020-03-15,0,7.447626,0.724823,8.645873,7.822508,7.069303,2.882355,New_UI
8,CusID_03771,18.0,Female,Vienna,Vienna,4.0,2018-04-02,2021-02-15,0,7.573536,4.267514,4.359906,NaN,6.521518,0.482545,New_UI
9,CusID_00667,19.0,Female,London,England,13.0,2017-08-11,2020-01-09,1,5.061261,3.822283,NaN,7.377240,9.669255,2.410884,Old_UI

## 1.1 Missing values (10 points):

In any real-world dataset, there are always few null values. It doesn’t really matter whether it is a regression, classification or any other kind of problem, no model can handle these NULL or NaN values on its own so we need to intervene.

```
- In python NULL is reprsented with NaN. So don’t get confused between these two,they can be used interchangably.
```

First of all, we need to check whether we have null values in our dataset or not:

In [151]:
print("Training set:")
print(train_df.isna().sum())
print("============================")
print("Test set:")
print(test_df.isna().sum())

Training set:
CustomerID                  0
Age                       729
Gender                      0
City                        0
State                       0
No_of_orders_placed       535
Sign_up_date                0
Last_order_placed_date      0
is_premium_member           0
Women’s_Clothing            0
Men’s_Clothing              0
Kid’s_Clothing            648
Home_&_Living             595
Beauty                      0
Electronics                 0
Preferred_Theme             0
dtype: int64
============================
Test set:
CustomerID                  0
Age                       274
Gender                      0
City                        0
State                       0
No_of_orders_placed       238
Sign_up_date                0
Last_order_placed_date      0
is_premium_member           0
Women’s_Clothing            0
Men’s_Clothing              0
Kid’s_Clothing            287
Home_&_Living             253
Beauty                      0
Electronics                 0
Preferred_Theme             0
dtype: int64

There are various ways for us to handle this problem. The easiest way to solve this problem is by dropping the rows or columns that contain null values.

Here is a link for you too choose your method and then apply it on both train and test set:
https://www.geeksforgeeks.org/working-with-missing-data-in-pandas/

In [152]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10605 entries, 0 to 10604
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              10605 non-null  object
 1   Age                     9876 non-null   float64
 2   Gender                  10605 non-null  object
 3   City                    10605 non-null  object
 4   State                   10605 non-null  object
 5   No_of_orders_placed     10070 non-null  float64
 6   Sign_up_date            10605 non-null  object
 7   Last_order_placed_date  10605 non-null  object
 8   is_premium_member       10605 non-null  int64
 9   Women’s_Clothing        10605 non-null  float64
 10  Men’s_Clothing          10605 non-null  float64
 11  Kid’s_Clothing          9957 non-null   float64
 12  Home_&_Living           10010 non-null  float64
 13  Beauty                  10605 non-null  float64
 14  Electronics             10605 non-null  float64
 15  Preferred_Theme         10605 non-null  object
dtypes: float64(8), int64(1), object(7)
memory usage: 1.4+ MB

In [153]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4545 entries, 0 to 4544
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              4545 non-null   object
 1   Age                     4271 non-null   float64
 2   Gender                  4545 non-null   object
 3   City                    4545 non-null   object
 4   State                   4545 non-null   object
 5   No_of_orders_placed     4307 non-null   float64
 6   Sign_up_date            4545 non-null   object
 7   Last_order_placed_date  4545 non-null   object
 8   is_premium_member       4545 non-null   int64
 9   Women’s_Clothing        4545 non-null   float64
 10  Men’s_Clothing          4545 non-null   float64
 11  Kid’s_Clothing          4258 non-null   float64
 12  Home_&_Living           4292 non-null   float64
 13  Beauty                  4545 non-null   float64
 14  Electronics             4545 non-null   float64
 15  Preferred_Theme         4545 non-null   object
dtypes: float64(8), int64(1), object(7)
memory usage: 603.6+ KB

Replace Missing Values with Median

In [154]:
# choose an appropriate way to impute the missing values
# Please  mention the method you have selected by writing in a markdown cell.

################ YOUR CODE STARTS HERE ################
train_df['Age']=train_df['Age'].fillna(train_df['Age'].median())
test_df['Age']=test_df['Age'].fillna(test_df['Age'].median())

train_df['No_of_orders_placed']=train_df['No_of_orders_placed'].fillna(train_df['No_of_orders_placed'].median())
test_df['No_of_orders_placed']=test_df['No_of_orders_placed'].fillna(test_df['No_of_orders_placed'].median())

train_df['Kid’s_Clothing']=train_df['Kid’s_Clothing'].fillna(train_df['Kid’s_Clothing'].median())
test_df['Kid’s_Clothing']=test_df['Kid’s_Clothing'].fillna(test_df['Kid’s_Clothing'].median())

train_df['Home_&_Living']=train_df['Home_&_Living'].fillna(train_df['Home_&_Living'].median())
test_df['Home_&_Living']=test_df['Home_&_Living'].fillna(test_df['Home_&_Living'].median())

print("Training set:")
print(train_df.isna().sum())
print("============================")
print("Test set:")
print(test_df.isna().sum())
################ YOUR CODE ENDS HERE ##################

Training set:
CustomerID                0
Age                       0
Gender                    0
City                      0
State                     0
No_of_orders_placed       0
Sign_up_date              0
Last_order_placed_date    0
is_premium_member         0
Women’s_Clothing          0
Men’s_Clothing            0
Kid’s_Clothing            0
Home_&_Living             0
Beauty                    0
Electronics               0
Preferred_Theme           0
dtype: int64
============================
Test set:
CustomerID                0
Age                       0
Gender                    0
City                      0
State                     0
No_of_orders_placed       0
Sign_up_date              0
Last_order_placed_date    0
is_premium_member         0
Women’s_Clothing          0
Men’s_Clothing            0
Kid’s_Clothing            0
Home_&_Living             0
Beauty                    0
Electronics               0
Preferred_Theme           0
dtype: int64

## 1.2 Standardization (10 points):

It is another integral preprocessing step. In Standardization, we transform our values such that the mean of the values is 0 and the standard deviation is 1.

**Hint:** Use `sklearn.preprocessing.StandardScaler` to do it.

In [155]:
# Standardize your train/test data.
# Important note: You must use the mean and standard deviation of train data for test set! You know why :)

################ YOUR CODE STARTS HERE ################
scaler = StandardScaler().fit(train_df[["Age",
          "No_of_orders_placed",
          "is_premium_member",
          "Women’s_Clothing",
          "Men’s_Clothing",
          "Kid’s_Clothing",
          "Home_&_Living",
          "Beauty",
          "Electronics"]])

train_df[["Age",
          "No_of_orders_placed",
          "is_premium_member",
          "Women’s_Clothing",
          "Men’s_Clothing",
          "Kid’s_Clothing",
          "Home_&_Living",
          "Beauty",
          "Electronics"]] = scaler.transform(train_df[["Age",
          "No_of_orders_placed",
          "is_premium_member",
          "Women’s_Clothing",
          "Men’s_Clothing",
          "Kid’s_Clothing",
          "Home_&_Living",
          "Beauty",
          "Electronics"]])

test_df[["Age",
          "No_of_orders_placed",
          "is_premium_member",
          "Women’s_Clothing",
          "Men’s_Clothing",
          "Kid’s_Clothing",
          "Home_&_Living",
          "Beauty",
          "Electronics"]] = scaler.transform(test_df[["Age",
          "No_of_orders_placed",
          "is_premium_member",
          "Women’s_Clothing",
          "Men’s_Clothing",
          "Kid’s_Clothing",
          "Home_&_Living",
          "Beauty",
          "Electronics"]])
train_df
################ YOUR CODE ENDS HERE ##################

,CustomerID,Age,Gender,City,State,No_of_orders_placed,Sign_up_date,Last_order_placed_date,is_premium_member,Women’s_Clothing,Men’s_Clothing,Kid’s_Clothing,Home_&_Living,Beauty,Electronics,Preferred_Theme
0,CusID_00685,-1.288023,Not_Specified,Bercelona,Singapore,1.654083,2017-01-17,2020-09-19,1.454774,0.124713,-0.619362,0.357673,0.676000,1.057802,0.120510,Old_UI
1,CusID_06121,0.359021,Male,Sydney,New South Wales,0.513392,2016-01-22,2021-12-09,-0.687392,-0.043409,1.524337,0.717396,-0.753646,-0.826738,0.375443,New_UI
2,CusID_09847,0.084514,Not_Specified,Toronto,Ontario,1.083738,2019-08-07,2021-10-13,1.454774,0.152196,-1.253078,-0.227965,-0.678478,-0.400500,0.348226,Old_UI
3,CusID_01433,0.084514,Not_Specified,Toronto,Ontario,1.939256,2016-02-27,2020-10-22,1.454774,0.039057,-0.592015,-0.398036,-0.625962,-0.487727,0.239045,Old_UI
4,CusID_02167,1.319796,Female,?,British Columbia,-1.482818,2019-07-04,2020-03-17,-0.687392,0.450816,-0.772980,1.169128,-1.598511,0.141057,0.470910,Old_UI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10600,CusID_09355,1.731557,Male,Kuala Lampur,Singapore,1.368910,2016-01-10,2021-09-18,1.454774,0.139572,0.022257,0.859573,-1.460133,1.779937,0.207596,Old_UI
10601,CusID_02156,-0.739008,Male,London,England,-0.056954,2016-01-30,2020-05-20,-0.687392,0.292578,-0.157586,-1.406110,0.808962,-0.188789,0.457578,New_UI
10602,CusID_06497,0.084514,Male,Toronto,California,0.513392,2017-11-07,2020-10-07,-0.687392,0.111349,1.542969,0.095283,0.126196,-0.662771,0.440885,Old_UI
10603,CusID_07331,-0.739008,Not_Specified,Toronto,Ontario,1.083738,2018-03-04,2020-11-26,1.454774,0.062950,0.240591,0.296644,-1.006402,-0.820772,0.211391,Old_UI
10604,CusID_02046,0.359021,Female,Vancouver,Bavaria,0.228219,2018-02-18,2020-10-28,-0.687392,0.251440,-1.250734,0.528029,-0.194035,1.223754,0.188153,New_UI

In [156]:
train_df['State'].value_counts()

California           1385
British Columbia      821
New South Wales       609
Western Australia     569
West Bengal           556
Catalonia             521
Bavaria               502
Tamil Nadu            463
Singapore             455
Maharashtra           447
Central Hungary       444
New Delhi             441
Ile-De-France         421
Tokyo                 412
Vienna                409
Tuscany               400
England               398
Berlin                350
New York              349
Ontario               330
Taiwan                323
Name: State, dtype: int64

In [157]:
train_df['Preferred_Theme'].value_counts()

New_UI    5389
Old_UI    5216
Name: Preferred_Theme, dtype: int64

In [158]:
train_df['Gender'].value_counts()

Male             4638
Female           4421
Not_Specified    1546
Name: Gender, dtype: int64

## 1.3 Handling categorical Variables (10 points):

Handling categorical variables is another integral aspect of Machine Learning. Categorical variables are basically the variables that are discrete and not continuous. One of the methods to do this is **One-hot encoding**:

**-One-hot encoding:**

For categorical variables where no such ordinal relationship exists, the integer encoding is not enough.

In fact, using this encoding and allowing the model to assume a natural ordering between categories may result in poor performance or unexpected results (predictions halfway between categories).

In this case, a one-hot encoding can be applied to the integer representation. This is where the integer encoded variable is removed and a new binary variable is added for each unique integer value.

In the “color” variable example, there are 3 categories and therefore 3 binary variables are needed. A “1” value is placed in the binary variable for the color and “0” values for the other colors.

```
red,	green,	blue
1,		0,		0
0,		1,		0
0,		0,		1
```

In [159]:
# Now you have to convert the categorical features in the 
# dataset to one-hot encoded representation.
# Hint: Use pd.DataFrame.get_dummies()

# before that, we drop 'City' column from both training and test set, we wont use it.
train_df.drop('City', axis=1, inplace=True)
test_df.drop('City', axis=1, inplace=True)

#cols_to_be_encoded = ['Gender', 'State']

################ YOUR CODE STARTS HERE ################
Preferred_Theme_dict = {
    "New_UI": 1,
    "Old_UI": 2
}
train_df['Preferred_Theme'] = train_df['Preferred_Theme'].map(Preferred_Theme_dict)
test_df['Preferred_Theme'] = test_df['Preferred_Theme'].map(Preferred_Theme_dict)


Gender_dict = {
    'Male' : 1,
    'Female' : 2,
    'Not_Specified' : 3
}
train_df['Gender'] = train_df['Gender'].map(Gender_dict)
test_df['Gender'] = test_df['Gender'].map(Gender_dict)


State_dict = {
    'California' :            0,
    'British Columbia' :      1,
    'New South Wales' :       2,
    'Western Australia' :     3,
    'West Bengal' :           4,
    'Catalonia' :             5,
    'Bavaria' :               6,
    'Tamil Nadu' :            7,
    'Singapore' :             8,
    'Maharashtra' :           9,
    'Central Hungary' :       10,
    'New Delhi' :             11,
    'Ile-De-France' :         12,
    'Tokyo' :                 13,
    'Vienna' :                14,
    'Tuscany' :               15,
    'England' :               16,
    'Berlin' :                17,
    'New York' :              18,
    'Ontario' :               19,
    'Taiwan' :                20
}
train_df['State'] = train_df['State'].map(State_dict)
test_df['State'] = test_df['State'].map(State_dict)


import datetime
train_df['Sign_up_date'] = pd.to_datetime(train_df['Sign_up_date'], errors='coerce')
test_df['Sign_up_date'] = pd.to_datetime(test_df['Sign_up_date'], errors='coerce')
train_df['Last_order_placed_date'] = pd.to_datetime(train_df['Last_order_placed_date'], errors='coerce')
test_df['Last_order_placed_date'] = pd.to_datetime(test_df['Last_order_placed_date'], errors='coerce')

train_df['Sign_up_date'] = train_df['Sign_up_date'].values.astype(float)
test_df['Sign_up_date'] = test_df['Sign_up_date'].values.astype(float)
train_df['Last_order_placed_date'] = train_df['Last_order_placed_date'].values.astype(float)
test_df['Last_order_placed_date'] = test_df['Last_order_placed_date'].values.astype(float)
################ YOUR CODE ENDS HERE ##################

In [160]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10605 entries, 0 to 10604
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              10605 non-null  object
 1   Age                     10605 non-null  float64
 2   Gender                  10605 non-null  int64
 3   State                   10605 non-null  int64
 4   No_of_orders_placed     10605 non-null  float64
 5   Sign_up_date            10605 non-null  float64
 6   Last_order_placed_date  10605 non-null  float64
 7   is_premium_member       10605 non-null  float64
 8   Women’s_Clothing        10605 non-null  float64
 9   Men’s_Clothing          10605 non-null  float64
 10  Kid’s_Clothing          10605 non-null  float64
 11  Home_&_Living           10605 non-null  float64
 12  Beauty                  10605 non-null  float64
 13  Electronics             10605 non-null  float64
 14  Preferred_Theme         10605 non-null  int64
dtypes: float64(11), int64(3), object(1)
memory usage: 1.3+ MB

In [161]:
corr_matrix = train_df.corr()
corr_matrix['Preferred_Theme']

Age                       0.091663
Gender                    0.280818
State                     0.047900
No_of_orders_placed       0.190048
Sign_up_date             -0.010669
Last_order_placed_date   -0.066205
is_premium_member         0.216268
Women’s_Clothing          0.030801
Men’s_Clothing           -0.251957
Kid’s_Clothing            0.270812
Home_&_Living             0.203302
Beauty                    0.206975
Electronics              -0.051595
Preferred_Theme           1.000000
Name: Preferred_Theme, dtype: float64

The preprocess steps you have done till now,were the most essential methods to preprocess a raw data. Otherwise, you are free to do more on this phase.

For instance, **Feature Engineering** is a great example of preprocessing steps. It includes creating new features by mixing existing variables in order to help the ML model classify the sampels more accuratly.

# 2. Designing ML models

In this section, we are going to build, compile and train our ML models. There are a huge number of various models which you can use and fortunatly, almost all of them has been implemented in [Scikit-Learn](https://scikit-learn.org).

However in this assignment, **you have to choose one of the following ML algorithms**, and implement it from scratch **without using existing frameworks**.

   - **KNN**
   - **Naive Bayes**
   
There are a plenty of resourcse and tutorials for these two algorithm on the internet. Just search them and read about them.

## 2.1 KNN or Naive Bayes from scratch (25 points):

In [162]:
# Implement one of above-mentioned algorithms from scratch.
# You are free to use Numpy and also pandas functionalities to implement them.
# But avoid using sklearn!

# Before that use train_test_split() to split your train data into train/validation
# in order to evaluate your model based on validation data

#X_train, X_val, y_train, y_val = train_test_split(train_df.drop('Preferred_Theme', axis=1),
#                                                   train_df['Preferred_Theme'],
#                                                   test_size=0.2)

X_train = train_df.drop(['CustomerID', 'Preferred_Theme'], axis=1).to_numpy()
X_test = test_df.drop(['CustomerID', 'Preferred_Theme'], axis=1).to_numpy()
y_train = train_df[['Preferred_Theme']].to_numpy()
y_test = test_df[['Preferred_Theme']].to_numpy()

################ YOUR CODE STARTS HERE ################

from collections import Counter

import numpy as np


def euclidean_distance(x1, x2):
    return np.sqrt(np.sum((x1 - x2) ** 2))


class KNN:
    def __init__(self, k=3):
        self.k = k

    def fit(self, X, y):
        self.X_train = X
        self.y_train = y

    def predict(self, X):
        y_pred = [self._predict(x) for x in X]
        return np.array(y_pred)

    def _predict(self, x):
        # Compute distances between x and all examples in the training set
        distances = [euclidean_distance(x, x_train) for x_train in self.X_train]
        # Sort by distance and return indices of the first k neighbors
        k_idx = np.argsort(distances)[: self.k]
        # Extract the labels of the k nearest neighbor training samples
        k_neighbor_labels = [self.y_train[i] for i in k_idx]
        # return the most common class label
        most_common = Counter(k_neighbor_labels).most_common(1)
        return most_common[0][0]


if __name__ == "__main__":
    # Imports
    from matplotlib.colors import ListedColormap
    from sklearn import datasets
    from sklearn.model_selection import train_test_split

    cmap = ListedColormap(["#FF0000", "#00FF00", "#0000FF"])

    def accuracy(y_true, y_pred):
        accuracy = np.sum(y_true == y_pred) / len(y_true)
        return accuracy

    iris = datasets.load_iris()
    X, y = iris.data, iris.target

    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.2, random_state=1234
    )


    
clf = KNN(k=3)
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
print("KNN classification accuracy:", accuracy(y_test, predictions))
################ YOUR CODE ENDS HERE ##################

KNN classification accuracy: 1.0

## 2.2 Other common ML models (25 points):

In this part you have to use predefined ML algorithms in [Scikit-Learn](https://scikit-learn.org) to implement other known models. **You must at least try 2 differnt models** to get the full score of this part.

**Note 1:** But you are free to try other model as much as you can to get higher performances.

**Note 2:** Writing about how those algorithms work has bonus!


You can see a complete list of exisiting models in Scikit-learn documentation: https://scikit-learn.org/stable/supervised_learning.html

In [163]:
################ YOUR CODE STARTS HERE ################
from sklearn.metrics import classification_report
from sklearn.metrics import mean_squared_error

print("==============Support Vector Machine==============")
from sklearn.svm import SVC
SVM = SVC(kernel = 'linear', random_state = 0)
SVM.fit(X_train, y_train)
predictions1 = SVM.predict(X_test)
print("SVM classification accuracy:", accuracy(y_test, predictions1))
print(classification_report(y_test, predictions1))

print("==============LinearRegression==============")
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)
predictions2 = lin_reg.predict(X_test)
lin_mse = mean_squared_error(y_test, predictions2)
lin_rmse = np.sqrt(lin_mse)
print("lin_reg classification rmse:", accuracy(y_test, predictions2))
################ YOUR CODE ENDS HERE ##################

==============Support Vector Machine==============
SVM classification accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         9
           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00         8

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

==============LinearRegression==============
lin_reg classification rmse: 0.0

## 2.3 Evaluation (20 points):

Great! You are now able to evaluate your model and see how nice your algorithm is able to classify positive and negative samples both on train and validation data.

For this, we are going to use 4 metrics. It is highly recommnded to read about them and know how benficial they are for different purposes:

- Accuracy
- Precision
- Recall
- F1-score

Use `sklearn.metrics` to implement them and report the results on both train and validation data.

In [164]:
################ YOUR CODE STARTS HERE ################
print(classification_report(y_test, predictions))
################ YOUR CODE ENDS HERE ##################

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         9
           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00         8

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

# 3. Submission

Please read the notes here carefully:

1. In addition to completing the code files, please send a report including your answer to these questions as well. Do not forget to put the diagrams and visualizations needed in each part.

2. The file you upload must be named as `[Student ID]-[Your name].zip.`
3. Your notebook must be executed without any problem. If not, you will lose points for each part consequently.
4. **Important Note:** The outputs of the code blocks must be remained in your notebook, otherwise, you definitly lose all the points of that part.



In case you have any questions, contact **mohammad99hashemi@gmail.com**.


Good luck :)